# -- Cuda 12.1 for PyTorch --
--extra-index-url https://download.pytorch.org/whl/cu121

# -- Main Libraries --
fastapi
uvicorn[standard]
torch
torchvision
torchaudio
transformers
pydantic
accelerate
sentencepiece